/*
 * @package Memberlistavatar extension
 * @author Mazeltof http://www.mazeland.fr/
 * @author Ady https://gitlab.com/adynemo
 * @license http://opensource.org/licenses/gpl-license.php GNU Public License
 */

.memberlistavatar img {
	display       : inline-block;
	max-height    : 32px;
	margin-right  : 4px;
	vertical-align: middle;
	width         : auto;
}
.rtl .memberlistavatar img {
	margin-left : 4px;
	margin-right: 0px;
}

